<h2>Celebrities:</h2>

{{#each allCelebrities}}

<div class='celebrity-title'>
  <a href="celebrities/details/{{this._id}}">{{this.name}}</a>
  <a href="celebrities/edit?_id={{this._id}}" class="edit-button">EDIT</a>
  <a href="celebrities/delete?_id={{this._id}}" class="delete-button">DELETE</a>
</div>
{{/each}}

<p><a href="celebrities/add" class="add-button">ADD A NEW CELEBRITY</a></p>