body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.edit-button {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: grey;
  border-radius: 6px;
}

.delete-button {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: red;
  border-radius: 6px;
}

.add-button {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: green;
  border-radius: 6px;
}

.return-button {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: aquamarine;
  border-radius: 5px;
  font-size: 20px;
}

.celebrity-title {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 10px;
}

.celebrity-title a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}